:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: whitesmoke;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --header: #612f23;
  --main: #303030;
  /* --highlighted: #947447; */
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 1px solid red; */
}
html {
  font-size: 62.5%;
  /* FONTSIZE TRICK-- 1 rem = 10 px here, usually 1 rem = 16px */
  height: 100vh;
  height: 100svh;
  scroll-behavior: smooth;
  caret-color: transparent;
}
body {
  font-size: 2rem;
  /* font-size: calc(1.5rem + 0.4vw); */
  /* FONTSIZE TRICK-- 1 rem = 10 px here, usually 1 rem = 16px */
  /* FONTSIZE - Adding the 0.4 is for responsivity */
}
button {
  border-radius: 1rem;
  outline: 1px solid black;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #000000;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* ----------------------------------------- */
html {
  background-color: var(--main);
  color: whitesmoke;
}
#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  /*This is important for flex-based bottom footer*/
}
/* ----------------------------------------- */
#header {
  background-color: var(--header);
  border-bottom: 1px solid black;
  filter: drop-shadow(1px 1px 100px black);
  width: 100%;
  text-align: center;
  flex-grow: 0;
  flex-shrink: 0;
  margin: auto;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;

  filter: drop-shadow(1px 1px 1px black);
  font-size: clamp(3.3rem, 5vw, 4.5rem);
}
h1 {
  filter: drop-shadow(1px 1px 1px black);
  font-size: clamp(3.3rem, 5vw, 4.5rem);
}
#main {
  background-color: var(--main);
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
}
#footer {
  background-color: var(--header);
  width: 100%;
  text-align: center;
  flex-grow: 0;
  flex-shrink: 0;
  filter: drop-shadow(0px 0px 4px rgb(var(--header)));
}
.fa-brands {
  color: whitesmoke;
}
/* ----------------------------------------- */
#infoDisplay {
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-evenly;
justify-self: start;
flex-grow: 0;
height: 5rem;
gap: 1rem;
margin-bottom: 4rem;
}
h2 {
  text-align: center;
  filter: drop-shadow(1px 1px 1px black);
  font-size: clamp(2rem, 5vw, 3rem);
}
/* ----------------------------------------- */
.splashModal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 4rem;
  height: clamp(40rem, 75vh, 80rem);
  width: clamp(35rem, 75vw, 100rem);
  margin: auto;
  line-height: 1.5;
  background-color: var(--header);
  box-shadow: 5px 5px 20px 0px black;
  outline: 1px solid black;
  border-radius: 1rem;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
  gap: clamp(1.1rem, 3.3vw, 2.2rem);
}
/* div:has(input) {
  position: relative;
}
/*radio button styling*/
/*top section here is a traditional radio button hide method*/
/*below it is my own implementation to retain validation msg*/
/* input[type="radio"] { */
  /* -webkit-appearance: none;
  appearance: none; */
  /* For iOS < 15 to remove gradient background */
  /* background-color: #fff; */
  /* Not removed via appearance */
  /* margin: 0; */
 /* opacity: 0;
  position: absolute;
  top: 150%;
  left: 80%;
}
input[type="radio"][data-disabled="true"] + label {
  filter: grayscale(1) contrast(0.5) brightness(0.5);
} */
fieldset[name="modeSelect"]{
  display: flex;
  gap: clamp(1rem, 4vw, 2rem);
}
.splashRadios {
  display: flex;
  flex-direction: column;
}
#startButtonsDiv {
  display: flex;
  flex-direction: column;
  gap: clamp(1rem, 4vw, 2rem);
}
/* ----------------------------------------- */
.placementBoard {
  display: grid;
  position: relative;
  grid-template-columns: repeat(10, 1fr);
  width: clamp(35rem, 75vw, max-content);
  outline: 2px solid black;
  background-color: rgb(11, 66, 66);
}
#boardParentBox {
display: flex;
flex-wrap: wrap;
align-items: center;
justify-content: center;
gap: 8rem;


}

.placementBoardTile {
  display: flex;
  align-items: center;
  justify-content: center;

  width: clamp(3.5rem, 7vw, 7rem);
  height: clamp(3.5rem, 7vw, 7rem);
  font-size: clamp(1rem, 2vw, 3rem);

  outline: 1px solid black;
}

#xAx{
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -8%;
  width: clamp(35rem, 75vw, max-content);
}
#yAx {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: -8%;
  width: clamp(35rem, 75vw, max-content);
}
.xAx, .yAx {
  width: clamp(3.5rem, 7vw, 7rem);
  height: clamp(3.5rem, 7vw, 7rem);
  font-size: clamp(1rem, 2vw, 2rem);
  filter: brightness(0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}